
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>burası test sayfasıdır</h1>
<h3>burası benim oluşturduğum view sayfasıdır</h3>
<table> 
    <tr>
        <th> ID</th> <br></br>
        <th>Ad</th> <br></br>
        <th>Departman</th> <br></br>
        <th>Tecrübe</th>
    </tr>
    <tr> 
        <td>1</td> <br></br>
        <td>Emrecan</td> <br></br>
        <td>Yazılım</td> <br></br>
        <td>5 Yıl</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Ayşe</td>
        <td>Ekonomi</td>
        <td>5 Yıl</td> 
    </tr>
</table>